/* .example-spacer{
    flex: 1 1 auto;
} */

table {
    
    width: 100%;
    overflow: auto;    
    height: 80vh;
  }
  
  .mat-form-field {
    font-size: 20px;
    width: 100%;
  }
  .showimg{
    width: 140px;
    height: 100px;
  }
  .container{
    max-width: 1500px;   
    margin: auto;   
  }
 
  .mat-paginator{
    font-size: 1rem;
  } 
  ::ng-deep .mat-select-value{
    font-size: 20px !important;
    
  }
    
  ::ng-deep .mat-sort-header-container{
    font-size: 20px;
  }

  .header {
    float: right;
    margin-top: 3rem;
  }
   
 