
<!-- <h1>heloooooooooooo</h1> -->


<div class="container">
    <div style="margin-top: 10px;">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput placeholder="Ex. Mia" #input />
        </mat-form-field>
 
        <div class="mat-elevation-z8">
            <table  mat-table #table  

                [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                    <td mat-cell *matCellDef="let row"> <img class="showimg" src='assets/images/todo.jpeg'> </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row"> Angular </td>                  

                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row"> Hello Angular </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="target-date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Target-Date </th>
                    <td mat-cell *matCellDef="let row"> 1/1/2022 </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> ToDo </td>
                </ng-container>
               
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="editTasks(row)" color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>           

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>  
    </div>
</div>  