mat-form-field{
    width:100%;
}
.btn_upload {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    width: 166px;
    height: 46px;
    background: #FFFFFF;
    /* border: 1.2px solid #E31D1A !important; */
    border-radius: 100px;
}

.btn_upload input {
    display: none;
}
.upload-inner-wrap {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.uploadImg_common {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px 0;
    position: relative;
    gap: 10px;
}

.uploadImg_common img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.btn_upload {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 166px;
    height: 46px;
    background: #FFFFFF;    
    border-radius: 100px;
}

.btn_upload input {
    display: none;
}

.mat-icon{
    margin-left: -30px;
}