<h1 mat-dialog-title>{{showTitle}}</h1>
<div mat-dialog-content>
   <form [formGroup]="TodoTasksForm" >   
      <button mat-raised-button class="btn_upload" type="button"  (click)="img.click()">
          <img src="assets/images/plus.png"><span class="upImg" >
              Upload
              Image</span>
      </button>
      <div class="upload-inner-wrap">
      <!-- <input matInput formControlName="images" placeholder="Task"> -->
      <input type="file" #img style="display: none; margin-left: 20px;"
         id="my-input" formControlName="image" (change)="getImages($event)" >
      <div class="uploadImg_common" >
        <img [src]="imageSrc" *ngIf="imageSrc"  >
        <mat-icon class="mat-icon-highlight_off" *ngIf="imageSrc" (click)="deleteImage(0,1)">highlight_off</mat-icon>
        <mat-icon *ngIf="!imageSrc"></mat-icon>
    </div>
      </div> 
      <div>
      <mat-form-field appearance="outline">
          <mat-label>Title of Task</mat-label>
          <input matInput formControlName="title" placeholder="Task">       
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" placeholder="Description">       
        </mat-form-field>      
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="targetDate" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" placeholder="Status">
               <mat-option value="Todo">Todo</mat-option>
               <mat-option value="In-Progress">In-Progress</mat-option>
               <mat-option value="Done">Done</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
   </form>
</div>
<div mat-dialog-actions [align]="'end'">
   <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
   <button *ngIf="!updateOne" mat-raised-button color="primary"  (click)="createTodo()" >{{actionBtn}}</button>
   <button *ngIf="updateOne" mat-raised-button color="primary" (click)="editTodo()" >{{actionBtn}}</button>
</div>
